## .NET / Visual Studio

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# ASP.NET
wwwroot/lib/

# User-specific files
appsettings.Development.json

# OS
.DS_Store
Thumbs.db